
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lora', serif;
}

body {
    background-color: #f8f8f8;
    color: #1d3b2a;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1d3b2a;
    font-weight: bold;
}

.hero {
    height: 100vh;
    background: url('bolsa.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content p {
    font-size: 20px;
    margin-top: 10px;
}

.artigos {
    padding: 60px 30px;
}

.artigos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.carousel {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.carousel-item {
    flex: 0 0 30%; /* Aumentei a largura */
    background-color: white;
    padding: 30px; /* Aumentei o padding */
    border: 2px solid green; /* Bordas verdes */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.carousel-item:hover {
    transform: scale(1.05); /* Efeito ao passar o mouse */
}

.carousel-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: 14px;
    color: #333;
}

.carousel-item a {
    text-decoration: none; /* Removido text-decoration */
    color: inherit; /* Mantém a cor do texto */
}

footer {
    background-color: #1d3b2a;
    color: white;
    text-align: center;
    padding: 20px;
}

.contato, .patrocinadores {
    margin-bottom: 20px;
}
.contato input {
    padding: 10px;
    border: 2px solid #1d3b2a;
    border-radius: 5px;
    width: 250px;
}

.contato button {
    background-color: #4c926a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.contato button:hover {
    background-color: #145223;
}

.patrocinadores-imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.patrocinadores-imagens img {
    width: 150px;
    height: auto;
}
