@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: #f8f8f8;
    color: #1d3b2a;
    padding-top: 80px; /* Para compensar o header fixo */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1d3b2a;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4c926a;
}

.imagem-intro {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.imagem-intro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: #4c926a;
    margin-top: 20px;
}

.container {
    padding: 60px 30px;
}

.container p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

footer {
    background-color: #1d3b2a;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin-top: 10px;
}

.contato input {
    padding: 10px;
    border: 2px solid #1d3b2a;
    border-radius: 5px;
    width: 250px;
}

.contato button {
    background-color: #4c926a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contato button:hover {
    background-color: #145223;
}


.fonte-container {
    margin-top: 40px;
    padding: 20px;
    background-color: #e6f2eb; /* Tom verde claro */
    border-left: 5px solid #4c926a; /* Borda verde escura */
    border-radius: 8px;
  }
  
  .fonte-container h3 {
    font-size: 20px;
    color: #1d3b2a;
  }
  
  .fonte-container p {
    font-size: 18px;
    color: #4c926a;
    margin-bottom: 10px;
  }
  
  .link-estilizado {
    text-decoration: none;
    color: #145223; /* Verde escuro */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .link-estilizado:hover {
    color: #4c926a; /* Verde médio ao passar o mouse */
  }
  
/* Responsividade */
@media (max-width: 768px) {
    nav ul li {
        margin: 0 10px;
    }

    h1 {
        font-size: 32px;
    }

    .container p {
        font-size: 16px;
    }

    .imagem-intro {
        height: 300px;
    }
}
